<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/styles.css') }}"
		/>
		<title>Register</title>
	</head>
	<body>
		<div class="container">
			<div id="wrapper">
				<form id="signin" method="POST" autocomplete="off">
					<input
						type="text"
						id="new_username"
						name="username"
						placeholder="Логин"
					/>
					<input
						type="password"
						id="new_password"
						name="password"
						placeholder="Пароль"
					/>
					<button type="submit" name="register" value="register">
						&#xf0da;
					</button>
					<p>Хочешь <a href="/login">войти</a>?</p>
				</form>
			</div>
		</div>
	</body>
</html>
